<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/719584d9c7.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script src="./javascripts/main.js" defer></script>
    <title>CESA-VIT</title>
</head>
<body style="background-color:#0e0842">
    <div id="loading" class="w-screen h-screen bg-black flex justify-center ease-in-out">
        <video id="video" src="./images/cesa.mp4" autoplay muted style="width: 60%;"></video>
    </div>
        


    <div id="main" style="display: none;background-color: rgba(14, 19, 33, 1);">
        <div class="absolute z-50">
            <header class="text-white p-1 lg:p-2 gap-1">
                <div class="flex justify-center items-center gap-1 md:gap-3 lg:gap-4">
         
                     <!-- <i class='bx bx-menu text-xl md:text-3xl lg:text-4xl font-bold mt-1' id="menu-icon"></i> -->
                     <div class="menu">
                     <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
                     <label for="openSidebarMenu" class="sidebarIconToggle">
                       <div class="spinner diagonal part-1 h-[2px] md:h-[3px] lg:h-[4px]"></div>
                       <div class="spinner horizontal h-[2px] md:h-[3px] lg:h-[4px]"></div>
                       <div class="spinner diagonal part-2 h-[2px] md:h-[3px] lg:h-[4px]"></div>
                     </label>
                     <div id="sidebarMenu">
                       <ul class="sidebarMenuInner bg-black h-screen absolute top-[-34px]">  
                         <li><a href="/">Home </a></li>
                         <li><a href="#NewEvents">New Events </a></li>
                         <li><a href="#PastEvents">Past Events</a></li>
                         <li><a href="#AboutUs">About Us</a></li>
                         <li><a href="/team">Our Team</a></li>
                         <li><a href="#">My Events</a></li>
                       </ul>
                     </div>
         
                     </div>
                     
                </div>
         
                <div class="flex justify-center items-center gap-1 md:gap-3 lg:gap-5">
                     <a href="/login" id="btn" class="top-5 right-6 px-1 md:px-3 lg:px-5 py-1 font-bold text-sm md:text-base lg:text-xl">Login</a>
                </div>
            </header>      
        </div>

        <!-- style="background-image: url('./images/bg3.jpg'); background-size: contain;" -->
        <section class="w-screen h-screen relative" style="background-color: #0e0842;">
            <div class="w-full absolute bottom-0">
                <div class="absolute inset-0 bg-gradient-to-t from-transparent to-[#0e0842] opacity-100 w-full h-32"></div>
                <img src="./images/bg3.jpg" alt="" class="mt-[0.2rem]">
            
            </div>

            <h1 id="heading" class="absolute bottom-32 ml-4 font-extrabold text-3xl md:tex-5xl lg:text-7xl hidden lg:block">Computer Engineering <br>Student Association <br><span class="ml-1">(VIT)</span></h1>
            <h1 id="heading" class="absolute bottom-60 md:bottom-96 font-extrabold text-3xl md:text-6xl lg:text-7xl block lg:hidden w-screen text-center">Civil Engineering <br>Student Association <br>(VIT)</h1>

        </section>
        
        <h1 id="heading2" class="font-extrabold text-5xl md:tex-6xl lg:text-7xl mt-24 mb-12 text-center">New Events</h1>
        <section class="w-[100%] mb-16 px-4" id="NewEvents" style="background-color: rgba(14, 19, 33, 1);">
            
            <div class="owl-carousel" id="owl">
                <% event.forEach(function(ele){ %>

                    <% var startDate = new Date(ele.eventDate); %>
                    <% var currentDate = new Date(); %>
                
                    <% var timeRemaining = startDate - currentDate; %>
                    <% var daysRemaining = Math.floor(timeRemaining / (1000 * 60 * 60 * 24)); %>
                    <% var hoursRemaining = Math.floor((timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)); %>
                    <% var minutesRemaining = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60)); %>
                    <% var secondsRemaining = Math.floor((timeRemaining % (1000 * 60)) / 1000); %>
                
                    <% if (timeRemaining <= 0) { %>
                        <a event_id = "<%=ele._id%>" id="shift">huuu</a>
                        <% return; %>
                    <% } %>

                  <div class="text-white w-screen h-[55vh] md:h-[65vh] lg:h-[80vh]" style="background-image: url('<%= ele.imageBase64 %>');background-size: cover; background-position:center;background-repeat: no-repeat;">
                    
                    <div class="absolute inset-0 bg-gradient-to-t from-transparent to-black opacity-100 w-full"></div>
                    <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black opacity-100 w-full"></div>
                    

                    <h2 class="mt-2 font-extrabold text-xl md:text-3xl lg:text-5xl text-center absolute z-20 left-[3%] top-[70%]"><%= ele.title %></h2>
                    <p class="absolute z-20 left-[3%] top-[80%] pt-1"><%= ele.description %></p>


                    <% if (arr != null && arr.includes(ele._id)) { %>
                        <p id="heading" class="absolute z-20  top-[89%] left-[3%] font-semibold lg:font-bold">You are registered for this event</p>
                    <% } else { %>
                        <button id="btn1" event_id="<%= ele._id %>" class="post-link absolute z-20 text-center px-5 py-1 rounded-3xl top-[89%] left-[3%] font-semibold lg:font-bold">Register</button>
                    <% } %>

                    <div id="countdown" class="text-white absolute z-20 top-[3%] right-[3%] font-semibold lg:font-bold">
                       <span id="heading">Event starts in - </span> 
                        <span id="days<%=ele._id %>"><%= daysRemaining %></span> days :
                        <span id="hours<%=ele._id %>"><%= hoursRemaining %></span> hours
                        <!-- <span id="minutes<%=ele._id %>"><%= minutesRemaining %></span> minutes:
                        <span id="seconds<%=ele._id %>"><%= secondsRemaining %></span> seconds -->
                    </div>

                  </div>
                <% }) %>
              </div>
            
        </section>
        

        <section class="w-screen h-screen text-center" id="AboutUs" style="background-color: rgba(15, 23, 42, 1)">
            <h1 id="heading2" class="font-extrabold text-5xl md:tex-6xl lg:text-7xl pt-10">About Us</h1>
           <p class="text-white text-xl mt-56"> Tell something about cesa ,not really sure bout this section</p>
           
        </section>

        <section class="w-screen text-center" id="PastEvents" style="background-color: rgba(10, 15, 28, 1);">
            <h1 id="heading2" class="font-extrabold text-5xl md:tex-6xl lg:text-7xl">Past Events</h1>
            <div class="mx-12 mt-6 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 lg:gap-5">
                
                    <div class="">
                        <img src="<%= pastEvent[0].imageBase64 %>" alt="" class="w-100 mt-4">     
                        <h1 class="text-white mt-3 font-bold text-3xl"><%=pastEvent[0].title %></h1>
                    </div>

                    <div class="">
                        <img src="<%= pastEvent[1].imageBase64 %>" alt="" class="w-100 mt-4 ">     
                        <h1 class="text-white mt-3 font-bold text-3xl"><%=pastEvent[1].title %></h1>
                    </div>

                    <div class="">
                        <img src="<%= pastEvent[2].imageBase64 %>" alt="" class="w-100 mt-4 ">     
                        <h1 class="text-white mt-3 font-bold text-3xl"><%=pastEvent[2].title %></h1>
                    </div>
                  
              </div>
              
              <div class="py-10">
                <a href="/events" class="see text-white text-3xl font-bold"> See More </a>
            </div>
        </section>

       

        <!-- <section class="w-screen h-screen text-center " id="OurTeam">
            <h1 id="heading" class="font-extrabold text-5xl md:tex-6xl lg:text-7xl">Our Team</h1>
            <div class="mx-12 mt-6 flex justify-center gap-10" id="">
                <% team.forEach(function(ele){ %>
                    <div class="w-[30%] h-[30%]">
                        <img src="<%= ele.imageBase64 %>" alt="" class="rounded-[50%]">     
                        <h1 class="text-white mt-3 font-bold text-3xl"><%=ele.name %></h1>
                    </div>
                  
                <% }) %>
              </div>
        </section> -->

    </div>

        <script>
            const loadingPage = document.getElementById('loading');
            const mainPage = document.getElementById('main');
            
            
            function showMainPage() {
                loadingPage.style.opacity = 0; // Set opacity to 0 for fade-out effect
    setTimeout(() => {
        loadingPage.style.display = 'none'; // Hide the loading page after the fade-out effect
        mainPage.style.display = 'block';
    }, 1000);
            }
            
            
            document.getElementById('video').addEventListener('ended', showMainPage);
        </script> 
        
        <style>
            #loading {
    transition: opacity 1s; /* Smooth transition for opacity */
}
        </style>
        
</body>
</html>
